h1 {
    text-align: center;
}

#current-weather {
    border-bottom: 1px solid#c8d6e5;
    margin-bottom: 10px;
    height: auto;
}

#current-weather div {
    margin-bottom: 10px;
}

#forecast-weather {
    height: auto;
}

.save-searched-city {
    border: 1px solid #2980b9;
    width: 400px;
    height: auto;
    color: #2980b9;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5px;
}

.save-searched-city:hover {
    background-color: #2980b9;
    color: white;
}

/* UV Index Class Properties */

.low {
    background-color: green;
}

.moderate {
    background-color: orange;
}

.high {
    background-color: red;
}

/* UV Index Shared Properties */
#uv-span {
    border-radius: 10px;
    font-weight: bold;
    color: white;
    padding: 7px 20px 7px 20px;
    text-align: center;
    margin-left: 5px;
}

/* Forecast Card Style */
.forecast-card {
    float: left;
    width: 175px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #2980b9;
    color:white;
    border-radius: 10px;
    height: 225px;
    font-weight: bold;
    padding: 5px;
}

